# 编译产物
build/
*.o
*.a
*.so
*.dylib

# IDE / 编辑器
.vscode/
.idea/
*.swp
*.swo
*~

# C++ 标准产物
*.out

# Unity
unity_code/
Library/
Logs/
ProjectSettings/
!TuanjieProject/ProjectSettings/
TuanjieProject/UserSettings/
Temp/
obj/
*.unitypackage.meta

# non-use folder
draft/
test/

# 其他
*.log
.DS_Store
mono_crash.mem.*.blob
